* {
    margin: 0.83em;
}

html{
  background-color: rgb(179, 255, 202);
}

.main-heading {
   font-family: Helvetica,sans-serif;
   font-size: 75px;
   font-weight: 700;
   text-align: center;
   background-color: mistyrose;
   margin: 16px auto;
   width: auto;
   box-shadow: 8px 4px 4px 8px black;
}


.link {
    font-family: Helvetica,sans-serif;
    font-size: 25px;
    font-weight: 700;
}

a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .img-link {
    width: 700px;
    height: 400px;
  }

  .second-heading {
    font-family: Helvetica,sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: mistyrose;
    padding 8px;
    box-shadow: 4px 2px 2px 4px black;
  }

  .paragraph {
    font-family: Helvetica,sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0px;
  }

  h3 {
    background-color: mistyrose;
    margin 0px auto;
    padding: 8px;
    box-shadow: 4px 2px 2px 4px black;
  }

  .list {
    background-color: azure;
    box-shadow: 4px 2px 2px 4px black;
    display: block;
  }

img {
  width: 700px;
  height: 400px;
  object-fit: cover;
  margin: 0.83em;
  display: block;
}